@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 154, 52, 18;
  --background-start-rgb: 255, 237, 213;
  --background-end-rgb: 254, 215, 170;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

